* {
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 213, 153);
    color: black;
    transition: all 2s;
}

body.switch {
    background-color: rgb(15, 39, 71);
    color: white;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    min-width: 900px;
    margin: auto;
    background-color: rgb(86, 173, 255);
    overflow: hidden;
    transition: all 2s;
    /* border: 20px white solid; */
}

#banner.switch {
    background-color: rgb(3, 8, 71);
    color: rgb(22, 29, 95);
    transition: all 2s;
}

/* plays once and never again */
#banner #clouds-1 {
    /* border: 2px green solid; */
    position: absolute;
    bottom: -50px;
    left: -200px;
    animation-name: clouds-1-horizontal-scroll;
    animation-duration: 150s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes clouds-1-horizontal-scroll {
    from {left: -200px;}
    to {left: 1100px;}
}

#banner #clouds-2 {
    /* border: 2px yellow solid; */
    position: absolute;
    bottom: -50px;
    left: -1380px;
    animation-name: clouds-2-horizontal-scroll;
    animation-delay: 21s;
    animation-duration: 282.59s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes clouds-2-horizontal-scroll {
    from {left: -1350px;}
    to {left: 1100px;}
}

#banner #clouds-3 {
    /* display: none; */
    /* border: 2px red solid; */
    position: absolute;
    bottom: -50px;
    left: -1380px;
    animation-name: clouds-3-horizontal-scroll;
    animation-delay: 180s;
    animation-duration: 282.59s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes clouds-3-horizontal-scroll {
    from {left: -1350px;}
    to {left: 1100px;}
}

circle {
    transition: all 2s;
}

circle.switch {
    fill:rgb(63, 73, 219);
}

#banner .brickwall {
    position: absolute;
    bottom: -20px;
    z-index: 1;
    /* left: -50px; */
    /* height: 200px;
    width: 111px; */
    /* border: 1px red solid; */
}

rect {
    transition: fill 2s;
}

#banner #hill-1 {
    position: absolute;
    bottom: 0;
    z-index: 0;
    height: 111px;
    width: 600px;
}

#banner #hill-2 {
    position: absolute;
    bottom: 19px;
    right: -10px;
    z-index: 0;
    height: 111px;
    width: 600px;
}

path {
    transition: all 2s;
}

path.switch {
    fill: #233a24;
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border: 1px black dashed;
    margin: 0.25em;
    padding: 1em;
    transition: all 2s;
}

main section.switch {
    border: 1px white dashed;
    transition: all 2s;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: black;
    transition: all 2s;
}

section a:hover {
    background-color: orange;
    color: #333;
}

section.switch a {
    transition: all 2s;
    color: white;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: orange;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}