* {
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 37);
    color: white;
}

html, body {
    min-height: 100%;
    min-width: 900px;
    /* width: 100%; */
}

h1, h2 {
    margin-left: 20px;
}

header {
    background-color: rgb(68, 68, 68);
    color: white;
}

.flex-column-wrapper {
    display: flex;
    flex-direction: column;
    /* border: 2px green solid; */
}

.flex-row-wrapper {
    display: flex;
    flex-direction: row;
    /* border: 2px red solid; */
    justify-content: space-evenly;
}

.section-header {
    background-color: rgb(75, 75, 255);
    height: 60px;
    justify-content: stretch;
}

#code-playground {
    border: 2px purple solid;
    width: 60%;
    font-size: large;
}

#code-playground h2, div {
    display: inline;
}

#code-output {
    border: 2px orange solid;
    width: 40%;
}

/* code {
    position: relative;
} */

pre {
    margin-left: -240px;
}

.indented-code {
    padding: 20px;
}