body {
    font-family: Arial;
    color: #333;
    padding-left: 50px;
    padding-top: 10px;
    line-height: 1.5em;
    /* border: 2px red solid; */
    position: relative;
    height: 98vh;
}

button { 
    padding: 10px;
}

div {
    padding: 20px;
}

footer {
    /* border: 2px green solid; */
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
}

footer ul {
    /* magin: 0; */
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    
}

#gamecontrol, #score {
    background-color: aliceblue;
}

#game {
    background-color:#eaeaea;
}
#actions {
    background-color: silver;
}